{% extends 'base/form.html' %}

{% block title %}
	{% if workout %}
		Edit {{ workout.name }}
	{% else %}
		Create Workout
	{% endif %}
{% endblock %}

{% block form %}
<div class="field is-horizontal">
	<div class="field-body">
		<div class="field">
			<p class="control is-expanded has-icons-left">
				{{ form['name'](class_='input', placeholder='Workout Name') }}
				<span class="icon is-small is-left">
					<i class="fa fa-tag"></i>
				</span>
			</p>
		</div>
	</div>
</div>

<div id="rows" class="field">
	{% for entry in form.exercises.entries %}
	{% if workout %}
		{{ entry['id']() }}
	{% endif %}
	<div class="field is-horizontal">
		<div class="field-body">
			<div class="field">
				<p class="control is-expanded has-icons-left">
					{{ entry['name'](class_='input', placeholder='Exercise') }}
					<span class="icon is-small is-left">
						<i class="fa fa-tag"></i>
					</span>
				</p>
				<p class="control is-expanded has-icons-left">
					<span class="icon is-small is-left">
						<i class="fa"></i>
					</span>
				</p>
			</div>
			<div class="field">
				<p class="control is-expanded has-icons-left">
					{{ entry['sets'](class_='input', placeholder='Sets') }}
					<span class="icon is-small is-left">
						<i class="fa fa-calculator"></i>
					</span>
				</p>
			</div>
			<div class="field has-addons">
				 <div class="control has-icons-left">
					<div class="select">
						{{ entry['type'] }}
					</div>
					<div class="icon is-small is-left">
						<i class="fa fa-calculator"></i>
					</div>
				</div>
				{{ entry['units'](class_='input') }}
			</div>
			<p class="button is-danger" onclick="handleDel(this)">
				<span class="icon is-small">
					<i class="fa fa-minus"></i>
				</span>
			</p>
		</div>
	</div>
	{% endfor %}
</div>

<div class="field is-horizontal is-grouped is-grouped-right">
	<p id="add" class="button is-primary" onclick="handleAdd()">
		<span class="icon is-small">
			<i class="fa fa-plus"></i>
		</span>
	</p>
</div>

<div class="field is-horizontal is-grouped is-grouped-right">
	<button class="button is-success ">
		<span class="icon is-small"><i class="fa fa-check"></i></span>
		<span>
			{% if workout %}
				Save Changes
			{% else %}
				Create Workout
			{% endif %}
		</span>
	</button>
</div>

<script src="/static/js/create.js"></script>
{% endblock %}
