{% extends 'base/layout.html' %}

{% block content %}

<div class="continer">
	<div class="columns is-centered">
		<div class="column">
			<h1 class="title is-2">Leg Day</h1>
			<div class="box">
				<div class="tabs is-fullwidth">
				  <ul>
				    <li>
				      <a>
				        <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
				        <span>Left</span>
				      </a>
				    </li>
				    <li>
				      <a>
				        <span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
				        <span>Up</span>
				      </a>
				    </li>
				    <li>
				      <a>
				        <span>Right</span>
				        <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
				      </a>
				    </li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
