{% extends 'base/form.html' %}

{% block title %}Sign Up{% endblock %}

{% block form %}
	<div class="field">
		<label for="" class="label">Username</label>
		<div class="control has-icons-left">
			<input id="username" name="username" type="text" placeholder="e.g. gymdude99" class="input" required>
			<span class="icon is-small is-left">
				<i class="fa fa-user"></i>
			</span>
		</div>
	</div>
	<div class="field">
		<label for="" class="label">Email</label>
		<div class="control has-icons-left">
			<input id="email" name="email" type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
			<span class="icon is-small is-left">
				<i class="fa fa-envelope"></i>
			</span>
		</div>
	</div>
	<div class="field">
		<label for="" class="label">Password</label>
		<div class="control has-icons-left">
			<input id="password" name="password" type="password" placeholder="*******" class="input" required>
			<span class="icon is-small is-left">
				<i class="fa fa-lock"></i>
			</span>
		</div>
	</div>
	<div class="field">
		<button class="button is-success">
			Sign up
		</button>
	</div>
{% endblock %}
