.gym-background {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)
	), url('/static/img/index.jpg') no-repeat center center fixed;

	/* background: url('/static/img/index.jpg') no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.welcome {
	background: linear-gradient(to right, #55F, #95F);
    margin-bottom: 16px;
    border-radius: 6px;
}
