{% extends 'base/layout.html' %}

{% block content %}
	<div class="container">
		<div class="columns is-centered">
			<div class="column {{ column_classes }}">
				<h1 class="title is-2">{% block title %}{% endblock %}</h1>

				<!-- TODO: render errors -->
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							{% if category == "message" %}
								<div class="notification is-info">
							{% else %}
								<div class="notification is-{{ category }}">
							{% endif %}
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}

				<form method="POST" class="box">
					{{ form.csrf_token }}
					{% block form %}{% endblock %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
