<!doctype HTML>
<html lang="en">
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bulma css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<!-- FontAwesome4 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- custom css -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- favicon.io template -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">

	<title>Strenghty 💪</title>
</head>
<body>
	<section class="hero is-info is-fullheight gym-background">
		<div class="hero-head">
			<nav class="navbar">
				<div class="navbar-brand">
					<a class="navbar-item" href="../">
						<img src="/static/favicon/apple-touch-icon.png" alt="Logo">
					</a>
					<span class="navbar-burger burger" data-target="navbarMenu">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>

				<div class="navbar-menu">
					<div class="navbar-start">
						{% if current_user.is_authenticated %}
							<span class="navbar-item">
								<a class="button is-white is-outlined" href="/home">
									<span class="icon">
										<i class="fa fa-home"></i>
									</span>
									<span>Home</span>
								</a>
							</span>

							<span class="navbar-item">
								<a class="button is-white is-outlined" href="#">
									<span class="icon">
										<i class="fa fa-pencil"></i>
									</span>
									<span>Record a Workout</span>
								</a>
							</span>

							<span class="navbar-item">
								<a class="button is-white is-outlined" href="#">
									<span class="icon">
										<i class="fa fa-file-pen"></i>
									</span>
									<span>Manage Workouts</span>
								</a>
							</span>
						{% endif %}
					</div>

					<div class="navbar-end">
						{% if current_user.is_authenticated %}
							<span class="navbar-item">
								<a class="button is-white is-outlined" href="/logout">
									<span>Log Out</span>
								</a>
							</span>
						{% else %}
							<span class="navbar-item">
								<a class="button is-white is-outlined" href="/login">
									<span class="icon">
										<i class="fa fa-user"></i>
									</span>
									<span>Login</span>
								</a>
							</span>
							<span class="navbar-item">
								<a class="button is-white is-outlined" href="/register">
									<span class="icon">
										<i class="fa fa-pencil"></i>
									</span>
									<span>Sign Up</span>
								</a>
							</span>
						{% endif %}
					</div>
				</div>
			</nav>
		</div>

		<div class="hero-body">
			{% block content %}{% endblock %}
		</div>
	</section>

	<!-- TODO: footer -->
</body>
</html>
