<!doctype HTML>
<html lang="en">
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bulma css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<script src="https://friconix.com/cdn/friconix.js"> </script>

	<!-- custom css -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- favicon.io template -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">

	<title>Strenghty 💪</title>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item">
				<img src="/static/favicon/apple-touch-icon.png">
			</a>
			</div>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
				{% if current_user.is_authenticated %}
					<a href="/home" class="navbar-item">
						Home
					</a>

					<a href="workout/create" class="navbar-item">
						Record a Workout
					</a>

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							Manage Workouts
						</a>

						<div class="navbar-dropdown">
							<a class="navbar-item">
								Create New Workout
							</a>
						</div>
					</div>
				{% endif %}

				<!-- TODO: divider and list workouts -->
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						{% if current_user.is_authenticated %}
							<a class="button is-light" href="/logout">Log Out</a>
						{% else %}
							<a class="button is-primary" href="/register"><strong>Sign Up</strong></a>
							<a class="button is-light" href="/login">Log In</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</nav>

	{% block content %}{% endblock %}

	<!-- TODO: footer -->
</body>
</html>
