{% extends 'base/layout.html' %}

{% block content %}

<section class="hero is-info is-fullheight-with-navbar gym-background">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="column is-6 is-offset-3">
				<h1 class="title">
					Welcome to Strengthy
				</h1>
				<h1 class="subtitle">
					Strenghty is an open source fitness tracking application that
					helps users meet their fitness goals. To get started,
					<a href="/register">Sign Up</a> to create an account.
				</h1>
			</div>
		</div>
	</div>

</section>

{% endblock %}
